.interest {
    display: flex;
    flex-direction: column;
    margin-top: 2.5rem;
    margin-left: 5.2rem;
}

@media only screen and (max-width: 900px) {
    .interest {
        font-size: 1rem;
        margin-left: 1.2rem;
    }
}

.interest > h1 {
    font-size: $font1;
    margin-bottom: 2rem;
    letter-spacing: 0.2rem;
}

@media only screen and (max-width: 900px) {
    .interest > h1 {
        font-size: 1rem;
        margin-left: 0;
    }
}

.interest > h1::after {
    display: inline-block;
    content: "";
    border-top: .1rem solid black;
    width: 28rem;
    margin-left: 19rem;
    transform: translate(20%, -6px);
}

@media only screen and (max-width: 1350px) {
    .interest > h1::after {
        display: none;
    }
}

.content {
    margin-left: 2rem;
}

.contenti {
    margin-bottom: 1rem;
    color: #80bfff;
    font-size: 4rem;
    word-spacing: 4rem;
    margin-left: 2rem;
}

.contentp {
    display: flex;
    flex-direction: row;
    justify-content: left;
    font-size: 2rem;
}

.contentp > p {
    margin-right: 2rem;
}

@media only screen and (max-width: 900px) {
    .content {
        display: flex;
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 900px) {
    .contenti, .contentp {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 900px) {
    .contentp {
        display: none;
    }
}